@import "tailwindcss";

@theme {
   --breakpoint-xxs: 320px;
   --breakpoint-xs: 448px;
   --color-background: var(--background);
   --color-high-contrast: var(--high-contrast);
   --color-foreground: var(--foreground);
   --color-border: var(--gray-300);
   --color-gray-50: var(--gray-50);
   --color-gray-100: var(--gray-100);
   --color-gray-200: var(--gray-200);
   --color-gray-300: var(--gray-300);
   --color-gray-400: var(--gray-400);
   --color-gray-500: var(--gray-500);
   --color-gray-600: var(--gray-600);
   --color-gray-700: var(--gray-700);
   --color-gray-800: var(--gray-800);
   --color-gray-900: var(--gray-900);
   --color-gray-950: var(--gray-950);
   --color-primary: #F2590D;
   --color-primary-hover: #E03C06;
   --font-geist-sans: var(--font-geist-sans);
   --animate-spin-reverse: spin-reverse 1s linear infinite;

   @keyframes spin-reverse {
      from {
         transform: rotate(360deg);
      }
      to {
         transform: rotate(0deg);
      }
   }
}
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
   *,
   ::after,
   ::before,
   ::backdrop,
   ::file-selector-button {
      border-color: var(--color-border, currentColor);
      font-family: var(--font-geist-sans);
   }

   *::-webkit-scrollbar {
      height: 6px;
      width: 6px;
   }
   *::-webkit-scrollbar-thumb {
      background: var(--gray-500);
      border-radius: 3px;
   }
   *::-webkit-scrollbar-thumb:hover {
      background: var(--gray-600);
   }
   *::-webkit-scrollbar-track {
      background: transparent;
   }
}

:root {
   --background: #fff;
   --high-contrast: #000;
   --foreground: oklch(0.21 0.034 264.665);
   --gray-50: oklch(0.985 0.002 247.839);
   --gray-100: oklch(0.967 0.003 264.542);
   --gray-200: oklch(0.928 0.006 264.531);
   --gray-300: oklch(0.872 0.01 258.338);
   --gray-400: oklch(0.707 0.022 261.325);
   --gray-500: oklch(0.551 0.027 264.364);
   --gray-600: oklch(0.446 0.03 256.802);
   --gray-700: oklch(0.373 0.034 259.733);
   --gray-800: oklch(0.278 0.033 256.848);
   --gray-900: oklch(0.21 0.034 264.665);
   --gray-950: oklch(0.13 0.028 261.692);
}

.dark {
   --background: #000;
   --high-contrast: #fff;
   --foreground: oklch(0.967 0.001 286.375);
   --gray-50: oklch(0.141 0.005 285.823);
   --gray-100: oklch(0.21 0.006 285.885);
   --gray-200: oklch(0.274 0.006 286.033);
   --gray-300: oklch(0.37 0.013 285.805);
   --gray-400: oklch(0.442 0.017 285.786);
   --gray-500: oklch(0.552 0.016 285.938);
   --gray-600: oklch(0.705 0.015 286.067);
   --gray-700: oklch(0.871 0.006 286.286);
   --gray-800: oklch(0.92 0.004 286.32);
   --gray-900: oklch(0.967 0.001 286.375);
   --gray-950: oklch(0.985 0 0);
}

@layer utilities {
   .no-scrollbar::-webkit-scrollbar {
      display: none;
   }
   /* Hide scrollbar for IE, Edge and Firefox */
   .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
   }
}
